@import "@/styles/variables.scss";

:global(.el-button) {
  color: $font_color_white !important;
  background-color: $button-bacc !important;
  border: none !important;
}

:global(.el-button:hover) {
  color: $font_color_white !important;
  background-color: $button-bacc-hover !important;
  border: none !important;
}

:global(.el-button:focus) {
  color: $font_color_white !important;
  background-color: $button-bacc-hover !important;
  border: none !important;
}

:global(.el-message-box__headerbtn:hover .el-message-box__close) {
  color: $font_color_white !important;
}

:global(.el-message) {
  background-color: $background-color-dark !important;
  border: none !important;
  box-shadow: $box-shadow-normal !important;
}

:global(.el-drawer__close-btn:hover .el-drawer__close) {
  color: $font_color_white !important;
}

:global(.el-drawer) {
  background-color: $background-color-dark !important;
}

:global(.el-drawer__title) {
  color: $font_color_white !important;
  font-weight: $font_weight_big !important;
  font-size: $font_size_big !important;
}

:global(.el-descriptions__title) {
  color: $font_color_white !important;
}

:global(.el-descriptions__body) {
  background-color: transparent !important;
}

:global(.el-descriptions__label) {
  color: $font_color_white !important;
}

:global(.el-descriptions__content) {
  color: $font_color_white !important;
}

:global(.el-message-box) {
  background-color: $background-color-dark !important;
}

:global(.el-message-box__title) {
  color: $font_color_white !important;
}

:global(.el-message-box__content) {
  color: $font_color_white !important;
}

:global(.el-form-item__label) {
  color: $font_color_white !important;
  font-size: $font_size_regular !important;
}

:global(.el-input__wrapper) {
  background-color: $background-color-dark !important;
  box-shadow: $box-shadow-border !important;
}

:global(.el-input__wrapper:hover) {
  box-shadow: $box-shadow-hover !important;
}

:global(.el-input__wrapper.is-focus) {
  box-shadow: $box-shadow-hover !important;
}

:global(.el-input__inner) {
  color: $font_color_white !important;
}

:global(.el-textarea__inner) {
  background-color: $background-color-dark !important;
  box-shadow: $box-shadow-border !important;
  color: $font_color_white !important;
}

:global(.el-textarea__inner:hover) {
  box-shadow: $box-shadow-hover !important;
}

:global(.el-textarea__inner:focus) {
  box-shadow: $box-shadow-hover !important;
}

:global(.is-disabled .el-input__wrapper) {
  box-shadow: $box-shadow-border !important;
  background-color: $background-color-dark-disabled !important;
}