@import "@/styles/variables.scss";

@tailwind components;
@tailwind utilities;

:root {
  // 遵循了 ElementPlus 的字体家族
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: $line_height_regular;

  color: $font_color_white;
  font-weight: $font_weight_regular;
  background-color: $background-color-dark;

  // 浏览器自动优化字体
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  // 弹性布局使 layout 居中
  display: flex;
  justify-content: center;
}