// 字体行高
$font-line-height-compact: 1.3;
$font-line-height-regular: 1.5;
$font-line-height-loose: 1.7;

// 字体大小
$font-size-supplement: 0.5rem;
$font-size-body-small: 0.8rem;
$font-size-body: 1rem;
$font-size-title-small: 1.5rem;
$font-size-title: 2rem;
$font-size-title-large: 3rem;

// 字体样式
$font-weight-small: 200;
$font-weight-regular: 400;
$font-weight-big: 600;

// 深色模式下颜色
$font-color-dark: rgba(255, 255, 255, 0.87);
$font-color-selected-dark: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); // 属于background-image 属性，配合 background-clip:text 使用
$background-color-dark: #242424;
$background-color-dark-disabled: #333333;
$box-background-color-dark: #33333330;
$button-bacc: #909399c0;
$button-bacc-hover: #b1b3b8b0;
$box-shadow-normal: 0px 0px 12px rgba(0, 0, 0, 0.12);
$box-shadow-hover: 0 0 5px $font-color-dark;

// 动画变换标准
$transition-regular: all 150ms ease;
$transition-slow: all 500ms ease;

// 页面布局
$layout-width: 95vw;

// box-shadow 型边框
$box-shadow-border-light: 0px 0px 5px rgba(255, 255, 255, 0.87);
$box-shadow-border: 0px 0px 2px #909399c0;

// 渐变色背景
$gradient-colorful: linear-gradient(
                90deg,
                rgb(255, 255, 255),
                rgb(255, 255, 255),
                rgb(255, 255, 255),
                rgb(255, 255, 255),
                rgb(255, 255, 255),
                rgb(67, 174, 255),
                rgb(160, 131, 237),
                rgb(239, 122, 200),
                rgb(254, 134, 159),
                rgb(255, 167, 69),
);